services:
  postgres:
    image: postgres:18.1-alpine3.23
    container_name: scribear-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U scribear -d scribear-db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
