#### Log level to use
LOG_LEVEL=info

#### Host and port server should listen on
HOST=0.0.0.0
PORT=8001

#### Admin Authentication
API_KEY=CHANGEME

#### JWT configuration
JWT_SECRET=CHANGEME-JWT-must-be-at-least-32-characters-long

#### Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=scribear-db-dev
DB_USER=scribear
DB_PASSWORD=CHANGEME
