name: CI / CD

on:
  push:
    branches:
      - main
      - staging
    tags:
      - "v*.*.*"
  pull_request:
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  # Needed in order to add comments to PR
  pull-requests: write

jobs:
  check-formatting-node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Check formatting
        working-directory: "."
        run: npm run format

  run-linter-node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Run linter
        working-directory: "."
        run: npm run lint

  run-build-node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Run build
        working-directory: "."
        run: npm run build

  run-tests-node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Run build
        working-directory: "."
        run: npm run build

      - name: Run tests
        working-directory: "."
        run: npm run test

      - name: Code Coverage Report - Base Fastify Server
        uses: ./.github/actions/coverage-report
        with:
          package_name: "Base Fastify Server"
          filename: "./libs/base-fastify-server/coverage/cobertura-coverage.xml"

      - name: Code Coverage Report - Session Manager
        uses: ./.github/actions/coverage-report
        with:
          package_name: "Session Manager"
          filename: "./apps/session-manager/coverage/cobertura-coverage.xml"

  check-database-types:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:18-alpine3.23
        env:
          POSTGRES_DB: scribear-db
          POSTGRES_USER: scribear
          POSTGRES_PASSWORD: scribear
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U scribear -d scribear-db"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Run build
        working-directory: "./infra/scribear-db"
        run: npm run build

      - name: Run migrations
        working-directory: "./infra/scribear-db"
        env:
          DB_HOST: localhost
          DB_PORT: 5432
          DB_NAME: scribear-db
          DB_USER: scribear
          DB_PASSWORD: scribear
        run: npm run migrate:up

      - name: Generate database types
        working-directory: "./infra/scribear-db"
        env:
          DATABASE_URL: postgresql://scribear:scribear@localhost:5432/scribear-db
        run: npm run generate:types

      - name: Check for uncommitted changes
        run: |
          git diff --exit-code infra/scribear-db/src/database.types.ts || \
          (echo "Error: Generated database types are out of date. Run 'npm run generate:types' in libs/scribear-db and commit the changes." && exit 1)

  check-formatting-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Check formatting
        working-directory: "transcription_service"
        run: make format

  run-linter-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Run linter
        working-directory: "transcription_service"
        run: make lint

  run-tests-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Run tests
        working-directory: "transcription_service"
        run: make test

      - name: Code Coverage Report - Base Fastify Server
        uses: ./.github/actions/coverage-report
        with:
          package_name: "Transcription Service"
          filename: "./transcription_service/coverage.xml"

  build-session-manager-container:
    needs:
      - check-formatting-node
      - run-linter-node
      - run-build-node
      - run-tests-node
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Build and Push Docker Image
        uses: ./.github/actions/build-container
        with:
          image_name: "scribear/session-manager"
          build_context: "."
          dockerfile: "./apps/session-manager/Dockerfile"
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_password: ${{ secrets.DOCKERHUB_PASSWORD }}

  build-transcription-service-cpu-container:
    needs:
      - check-formatting-python
      - run-linter-python
      - run-tests-python
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Build and Push Docker Image
        uses: ./.github/actions/build-container
        with:
          image_name: "scribear/transcription-service-cpu"
          build_context: "./transcription_service"
          dockerfile: "./transcription_service/Dockerfile_CPU"
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_password: ${{ secrets.DOCKERHUB_PASSWORD }}

  build-transcription-service-cuda-container:
    needs:
      - check-formatting-python
      - run-linter-python
      - run-tests-python
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Build and Push Docker Image
        uses: ./.github/actions/build-container
        with:
          image_name: "scribear/transcription-service-cuda"
          build_context: "./transcription_service"
          dockerfile: "./transcription_service/Dockerfile_CUDA"
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_password: ${{ secrets.DOCKERHUB_PASSWORD }}
