name: Node CI

on:
  push:
    paths:
      - transcription_service/*
    branches:
      - main
      - staging
    tags:
      - "v*.*.*"
  pull_request:
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  # Needed in order to add comments to PR
  pull-requests: write

jobs:
  check-formatting-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Check formatting
        working-directory: "transcription_service"
        run: isort --check ./src ./tests && black --check ./src ./tests

  run-linter-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Run linter
        working-directory: "transcription_service"
        run: pylint -j 0 --recursive=y --fail-under=10 ./src && pylint -j 0 --recursive=y --fail-under=10  --disable=redefined-outer-name ./tests

  run-tests-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Run tests
        working-directory: "transcription_service"
        run: pytest tests/ --cov=src/ --cov-report=xml

      - name: Code Coverage Report - Base Fastify Server
        uses: ./.github/actions/coverage-report
        with:
          package_name: "Transcription Service"
          filename: "./transcription_service/cobertura-coverage.xml"

  build-session-manager-container:
    needs:
      - check-formatting-python
      - run-linter-python
      - run-tests-python
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Build and Push Docker Image
        uses: ./.github/actions/build-container
        with:
          image_name: "scribear/transcription-service-cpu"
          build_context: "transcription_service"
          dockerfile: "./Dockerfile_CPU"
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push Docker Image
        uses: ./.github/actions/build-container
        with:
          image_name: "scribear/transcription-service-cuda"
          build_context: "transcription_service"
          dockerfile: "./Dockerfile_CUDA"
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_password: ${{ secrets.DOCKERHUB_PASSWORD }}
